.header{
  height: 100px;
  /* background-color: lightskyblue; */
}
.header-logo h1{
  display: none;
}
.header-logo{
  width: 56px;
  height: 56px;
  /* outline: 1px solid ; */
  margin-top: 22px;
  margin-right: 172px;
  background-image: url(../img/logo.png);
  background-size: 100% 100%;
}

/* 直接子元素 */
.header-menu>a{
  padding: 0 7px;
  font-size: 16px;
  line-height: 100px;

}

/* 鼠标hover，显示2级菜单 */
.header-menu:hover .header-submenu{
  display: block;
}
/* 二级菜单 */
.header-submenu{
  /* 注意：这里是相对于TopNav */
  position: absolute;
  /* background-color: #e23737; */
  left: 0;
  top: 140px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  display: none;
}

.header-submenu .cover{
  width: 204px;
  text-align: center;
  
}
.header-submenu .cover img{
  width: 160px;
  height: 110px;
  border-right: 1px solid #eee;
}

.header-submenu a:last-child .cover img{
  border-right: 0;
}

.header-submenu .cover .name{
  margin-top: 10px;
}

.header-submenu .cover .price{
  color: #ff6700;
}

/* search区域 */
.header-search{
  margin-top: 25px;
  /* background: #6cdb04; */
  position: relative;
}
.header-search input{
  width: 245px;
  height: 50px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 15px;
  font-size: 16px;
}
.header-search input:hover{
  border: 2px solid #aaa;
}
.header-search .search-icon{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-left: 0;
  font-size: 20px;
  color: #565656;
  cursor: pointer;
}
.header-search .search-icon i{
  font-size: inherit ;
}
.header-search .search-icon:hover{
  background-color: #ff6700;
  border: none;
  color: white;
}
.header-search .search-suggestion{
  position: absolute;
  left: 0;
  top: 50px;
  width: 245px;
  border: 1px solid #ff6700;
  border-top: 0;
  display: none;
}
.header-search .search-suggestion a{
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.header-search .search-suggestion a:hover{
  background-color: #eee;
  color: inherit;
}
.header-search input:focus{
  border: 1px solid #ff6700;
}
.header-search input:focus~.search-suggestion{
  display: block;
}
.header-search input:focus~.search-icon{
  border: 1px solid #ff6700;
  border-left: 0;
}