.chess {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.red {
  background: radial-gradient(#fff, #f30);
}
.black {
  background: radial-gradient(#fff, #000);
}
