.panel{
  width: 500px;
  height: 500px;
  background-color: lightblue;
  outline: 2px solid;
  margin: 20px auto;
  position: relative;
}
.box{
  width: 100px;
  height: 100px;
  outline: 1px solid;
  border-radius: 50%;
  background-color: rebeccapurple;
  position: absolute;
}