.chess {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess .chess-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chess .red {
  background: radial-gradient(white, red);
}

.chess .black {
  background: radial-gradient(white, black);
}
