/* App.css */

.container{
  width: 100px;
  margin: 0 auto;
}
.comp-container{
  position: relative;
  height: 100px;
}
.title{
  position: absolute;
  top: 0;
  left: 0;
}
.exit-active{
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
}

.exit-done{
  display: none;
}
.enter, .appear{
  display: block;
  opacity: 0;
  transform: translateX(100px);
}
.enter-active,.appear-active{
  opacity: 1;
  transform: translateX(0);
  transition: 1s ;

}
