.pageContainer {
  margin: 20px auto;
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageContainer .pager {
  cursor: pointer;
  font-size: 20px;
  color: cornflowerblue;
  padding: 5px;
  margin: 0 10px;
}
.pageContainer .pager.disabled {
  color: gray;
  cursor: not-allowed;
}
.pageContainer .pager.active {
  color: orangered;
  cursor: auto;
}
.pageContainer .pager.show {
  color: black;
}
